script{
    background-color: black;
    font-size: large;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
p{
    text-align: center;
    font-size: large;
    color: crimson;
}